@import url(//db.onlinewebfonts.com/c/d7e8a95865396cddca89b00080d2cba6?family=SoDo+Sans+SemiBold);

body {
    margin: 0px;
    padding: 0px;
    font-family: "SoDo Sans SemiBold", Helvetica Neue, Helvetica, Arial, sans-serif;
}

.navbar {
    padding: 20px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .3), 0 2px 2px rgba(0, 0, 0, .06), 0 0 2px rgba(0, 0, 0, .07);
}

.navbar-left svg {
    width: 50px;
    height: auto;
    margin-right: 20px;
}

.navbar-left div {
    text-transform: uppercase;
    font-weight: 600;
}

.navbar-left div:hover {
    color: #00754a;
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-left>*,
.navbar-right>* {
    margin: 10px;
}




.find-a-store {
    display: flex;
    align-items: center;
    font-weight: 500;
}

.find-a-store:hover {
    color: #00754a;
}

.sign,
.join {
    font-weight: 500;
    border: 1px solid #000;
    border-radius: 40px;
    padding: 5px 20px 5px 20px;
    text-align: center;

}

.join {
    background-color: #000;
    color: #fff;
}

.join:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.sign:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
}